body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #242322;
}

.container {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  background-image: url("bg.jpg");
  background-size: cover;
  border: 1px #242322 solid;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 257px;
  left: 12px;
  top: 7px;
}

#txt01 {
  width: 198px;
  left: 285px;
  top: 7px;
  opacity: 90%;
}

#txt02 {
  width: 195px;
  left: 288px;
  top: 45px;
  opacity: 90%;
}

#dish {
  width: 191px;
  left: 574px;
  top: -49px;
}



@keyframes ornam-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ornament {
  width: 236px;
  left: 549px;
  top: -79px;
}

#ornament > div {
  animation: ornam-anim 30s linear;
}

#orn_img {
  width: 236px;
  height: 236px;
}



#flowers_left {
  width: 140px;
  left: 494px;
  top: 18px;
}

#schirm {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url("bg.jpg");
  background-size: cover;
  opacity: 0;
}
