body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #242322;
}

.container {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #fff;
  background-image: url("bg.jpg");
  background-size: cover;
  border: 1px #242322 solid;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 212px;
  left: 15px;
  top: 15px;
}

#txt01 {
  width: 205px;
  left: 17px;
  top: 86px;
  opacity: 90%;
}

#txt02 {
  width: 202px;
  left: 20px;
  top: 128px;
  opacity: 90%;
}

#dish {
  width: 192px;
  left: 28px;
  top: 204px;
}

#shadow {
  width: 342px;
  left: -62px;
  top: 153px;
}

@keyframes ornam-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ornament {
  width: 235px;
  left: 2px;
  top: 179px;
}

#ornament > div {
  animation: ornam-anim 30s linear;
}

#orn_img {
  width: 235px;
  height: 235px;
}

#flowers_left {
  width: 85px;
  left: 0px;
  top: 150px;
}

#flowers_right {
  width: 92px;
  left: 149px;
  top: 93px;
}

#schirm {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url("bg.jpg");
  background-size: cover;
  opacity: 0;
}
